
* { margin:0; 
    padding:0; 
    box-sizing:border-box;
    --outline: 1px dotted red;
}

body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,1)), url('background.jpg');
  background-size: cover;
  color:#EAEAEA;
}

h1, h2 { font-family:'Cinzel', serif; }

h2{
    font-size: 3rem;
    text-decoration:underline
}

.hero {
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

#tagline { color:#C25B2A; font-size:2rem; }

#menuIcon {
  font-size:4rem;
  position:fixed;
  top:20px;
  right:20px;
  cursor:pointer;
  z-index:1100;
}

.overlay {
  height:100%;
  width:0;
  position:fixed;
  z-index:1000;
  right:0;
  top:0;
  background: rgba(0,0,0,0.95);
  backdrop-filter: blur(5px);
  transition:0.5s;
}

#links {
  position:relative;
  top:25%;
  text-align:center;
}

#links a {
  display:block;
  color:#EAEAEA;
  font-size:2rem;
  padding:10px;
  font-family:'Cinzel', serif;
}

.cards {
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:20px;
}
section {
  padding:80px 20px;
  max-width:1100px;
  margin:auto;
  display: grid;
  place-content: center;
}


@media (max-width: 768px) {
  #tagline { font-size:1.5rem; }

  .cards {
    grid-template-columns:1fr;
  }
  .cards-gallery{
    grid-template-columns:1fr;
  }
}


@media (max-width: 1024px) {
  .cards {
    grid-template-columns:repeat(2, 1fr);
  }
}
.container{
    margin-top: 30dvh;
}
a.closebtn{
    color: white;
    font-size: 3rem;
}
section img{
    width: 110dvh;
    height:60dvh;
    border-radius: 3rem;
}
section p{
    font-size: 2rem;
    padding: 1rem;
}
.card img{
    width: 100%;
    height: 30dvh;
    width: 25dvh;
    border-radius: 1rem;
}
.card p{
    font-size: 1.25rem;
    padding: 0.5rem;
}
.cards-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.cards-gallery .card img{
    padding: 10px;
    width: 300px;
    height: 250px;
}
.modal1 .modal2 .modal3 .modal4 .modal5{
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}
.closebtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closebtn:hover,
.closebtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}